<h1>Software</h1>

<table cellpadding="2" cellspacing="0" border="0" class="display dataTable" id="example">
  <thead>
    <tr>
      <th>Software name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <% if session[:is_owner] -%>
        <th></th>
        <th></th>
      <% end -%>
    </tr>
  </thead>

  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= software.software_name %></td>
        <td><%= software.description %></td>
        <td><%= link_to 'Show', software %></td>
        <td><%= link_to 'Download', :id => software.id, :method => :download, :action => :download %></td>
        <% if session[:is_owner] -%>
          <td><%= link_to 'Edit', edit_software_path(software) %></td>
          <td><%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Software', new_software_path if (! session[:design_id].nil?) && (! session[:user_id].nil?) %>
